template#menu
    section.s-full-menu
        .s-full-menu__container
            ul.s-full-menu__list
                li.s-full-menu__item
                    a(href="#standart").s-full-menu__link GOLD STANDARD
                li.s-full-menu__item
                    a(href="#cost").s-full-menu__link PRICING
                li.s-full-menu__item
                    a(href="#feedback").s-full-menu__link TESTIMONIALS
                li.s-full-menu__item
                    a(href="#contact").s-full-menu__link CONTACTS