extends base.pug

block content
    include ./components/sections/s-main.pug
    include ./components/sections/s-standart.pug
    include ./components/sections/s-standart-gold.pug
    include ./components/sections/s-dignity.pug
    include ./components/sections/s-slider.pug
    include ./components/sections/s-mission.pug
    include ./components/sections/s-picture.pug
    include ./components/sections/s-work-with.pug
    include ./components/sections/s-comparison.pug
    include ./components/sections/s-qualification.pug
    include ./components/sections/s-advantage.pug
    include ./components/sections/s-cost.pug
    include ./components/sections/s-feedback.pug
    include ./components/sections/s-form.pug
    include ./components/sections/s-contact.pug
   
    
