.b-pricing-loyalty {
    max-width: 61.875rem;
    margin: 0 auto;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.625rem 0 2.1875rem 0;
        @include desktops{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__item {
        max-width: 28.4375rem
    }
    &__title {
        font-size: 2.1875rem;
        line-height: 3.1875rem;
        color: $yellowF1;
        font-weight: $extraBold;
        text-align: center;
        margin: 0;
        padding: 0 0 1.5625rem 0;
        @include phones{
            padding: 0 1.25rem;
            margin-bottom: 2.55rem;
        }
    }
    &__sub-title {
        @extend .b-comparison__title;
        padding: 1.5625rem 0 0 0;
        margin-bottom: 0.1875rem;
    }
    &__option {
        @extend .b-pricing-loyalty__sub-title;
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
}
.text_color{
    color: $whiteFF;
}