mixin feedback-slider()
    .b-feedback-slider
        .b-feedback-slider__container
            .b-feedback-slider__wrapper.swiper-wrapper
                .b-feedback-slider__item.swiper-slide
                    .b-feedback-slider__item-data
                        .b-feedback-slider__item-name Dr Amir Khan
                        .b-feedback-slider__item-about MBChB (Honours) MRCGP DCH DRCOG PGCE DipDiabGP Partner: The Ridge Medical Practice/Westfield SurgeryHonorary Senior Lecturer: Leeds School of MedicineAdvisory Board Member: Bradford School of Pharmacy
                        .b-feedback-slider__item-feedback
                            | As a regular gym goer and doctor, I thought I knew how to train to the best of my ability. However, after my first session with Steve, I realised that I had much to improve on. Steve taught me how to correct my posture whilst training, improve my core strength and the importance of sleep and diet on my overall physical health. His depth of knowledge about strength and training exercises is fantastic and he is incredibly encouraging during each session. I would wholeheartedly recommend him.
                .b-feedback-slider__item.swiper-slide
                    .b-feedback-slider__item-data
                        .b-feedback-slider__item-name Dr Amir Khan
                        .b-feedback-slider__item-about  MBChB (Honours) MRCGP DCH DRCOG PGCE DipDiab GP Partner: The Ridge Medical Practice/Westfield Surgery Honorary Senior Lecturer: Leeds School of Medicine Advisory Board Member: Bradford School of Pharmacy
                        .b-feedback-slider__item-feedback
                            | As a regular gym goer and doctor, I thought I knew how to train to the best of my ability. However, after my first session with Steve, I realised that I had much to improve on. Steve taught me how to correct my posture whilst training, improve my core strength and the importance of sleep and diet on my overall physical health. His depth of knowledge about strength and training exercises is fantastic and he is incredibly encouraging during each session. I would wholeheartedly recommend him.
                .b-feedback-slider__item.swiper-slide
                    .b-feedback-slider__item-data
                        .b-feedback-slider__item-name Dr Amir Khan
                        .b-feedback-slider__item-about  MBChB (Honours) MRCGP DCH DRCOG PGCE DipDiab GP Partner: The Ridge Medical Practice/Westfield Surgery Honorary Senior Lecturer: Leeds School of Medicine Advisory Board Member: Bradford School of Pharmacy
                        .b-feedback-slider__item-feedback
                            | As a regular gym goer and doctor, I thought I knew how to train to the best of my ability. However, after my first session with Steve, I realised that I had much to improve on. Steve taught me how to correct my posture whilst training, improve my core strength and the importance of sleep and diet on my overall physical health. His depth of knowledge about strength and training exercises is fantastic and he is incredibly encouraging during each session. I would wholeheartedly recommend him.
        button(type='button').b-feedback-slider__next
            img(src='./images/sliders/slider-next.svg')
        button(type='button').b-feedback-slider__prev
            img(src='./images/sliders/slider-prev.svg')