section.s-advantage
    .wrap-loyalty
        include ../blocks/b-pricing-loyalty.pug
        img.s-advantage__loyality(src='./images/backgrounds/cross-right.png')
    button.s-advantage__btn.btn-default
        .s-work-with__btn-arrow.arrow-less.arrow-less_color
        .s-work-with__btn-text.text_color READ MORE
        .s-work-with__btn-arrow.arrow-less.arrow-less_color
