section.s-cost#cost
    .s-cost__title EXTRA TIME AND ATTENTION WITHOUT EXTRA COST
    .s-cost__desc I do not charge an hourly rate. Prices are per session. Sessions typically last 75 minuets. 20 minuets are set a side after each session to discuss any questions you may have regarding training or nutrition should it be required. You will also receive an email within 24 hours of your session to provide further clarity and detail.
    .cards
        ul.cards__list
            li.cards__item
                .card  
                    .card__target OPTION A
                    .card__price &pound30
                    .card__desc
                        .card__desc-text One personal training session tailored to your needs
                    button.card__btn.btn-default ENQUIRE
            li.cards__item
                .card  
                    .card__target OPTION B
                    .card__price &pound250
                    .card__desc 
                        .card__desc-text A block of ten personal training sessions tailored to your needs
                    button.card__btn.btn-default ENQUIRE
            li.cards__item
                .card  
                    .card__target OPTION C
                    .card__price.card__price_extra &pound300
                        sub.card__pm PM
                    .card__duration (direct debit, 6 month minimum)
                    .card__desc.card__desc_extra The 24 Carrot Gold ultimate pack for the dedicated looking to make massive savings. 
                    .card__bonus
                        .bonus
                            ul.bonus__list
                                li.bonus__item - Train 7 days a week 365 days a year.
                                li.bonus__item - Includes Free membership to Ichiban Dojo.
                    button.card__btn.btn-default BOOK NOW
            li.cards__item
                .card  
                    .card__target OPTION D
                    .card__price FREE
                    .card__desc 
                        .card__desc-text A free taster session with Steven which allows you to get a sense of the training method and what the sessions will consist of
                    button.card__btn.btn-default ENQUIRE












