section.s-comparison
    .s-comparison__title THE INDUSTRY STANDARD vs THE GOLD STANDARD
    .s-comparison__container
        +comparison('./images/icons/sad_face.svg', '', [
            'Success defined by achieving sales target.',
            'Gym membership and PT sold separately.',
            'One hour maximum and that’s your lot. Got questions? Talk or train as long as you don’t go over your alotted hour.',
            'Free is a dirty word!',
            'Train in a busy commercial gym where peak hours resembles feeding time at the zoo. Wait your turn for the equipment to become free. Navigate the ‘assault course’ comprising of weights that others were to lazy to put back and do your best to understand your trainers instruction over the obnoxious dance music.'
        ])  
        +comparison('./images/icons/smiley_face.svg', '', [
            'Success defined by helping client achieve their goal.',
            'Train in a studio setting with no requirement to pay gym membership.',
            'Each session a minimum of 75 minuets. An additional 20 minuets available afterwards to discuss any questions.',
            'Occasional free sessions for loyal customers makes perfect sense.',
            'A quiet, spacious, clean environment with no loud music or other gym members to distract us from our goal.'
        ])
          
