section.s-contact#contact
    .s-contact__left
        img(src='./images/photos/coach.jpg')
    .s-contact__right 
        .s-contact__book
            .s-contact__title FANCY A TASTER SESSION? 
            .s-contact__info
                p Don’t wait start your gold standard training today
                p Book online today for a free taster session. You will get profession training and advice from me about the programme, get a chance to experience the training you will get from me and advice on
        button.btn-default._size(type='button') BOOK A TASTER SESSION
        .s-contact__contact
            a.s-contact__phone(href='tel:07864937209') 07715211321
            a.s-contact__email(href='mailto:example_mail@gmail.com') INFO@STEVENTHOMPSONPERSONALTRAINER.COM
