section.s-mission
    .s-mission__container   
        +info('MY MISSION', [
            'My mission is simple to understand yet difficult to achieve. I have to become the best Personal Trainer in the world. I have no interest in silver or bronze!',
            'I will achieve it through the same method I train my Clients. The principal of CAN I. The acronym for Consistent And Never Ending Improvement.',
            'The obsessive commitment to deepening my own knowledge, being consistent in delivering the highest service possible and Constantly searching for innovative ways to increase my clients experience.',
            'I will have achieved my goal when each client has an honesty held belief that it would be impossible to receive a more effective and enjoyable training experience ANYWHERE!',
            'Join me on my mission. Give me the opportunity to exceed your expectations. It is only through the achievement of your goals that I will fulfil mine.'
        ],'white','center')

    







