section.s-partnership
    .s-partnership__title PARTNERSHIPS
    ul.s-partnership__list
        li.s-partnership__item
        li.s-partnership__item
        li.s-partnership__item
        li.s-partnership__item
        li.s-partnership__item
