section.s-standart-gold
    .standart-gold__photo
        img.standart-gold__man(src='./images/photos/rhone.jpg')
        img.standart-gold__trainer(src='./images/photos/unsplash.jpg')
    .standart-gold__desc
        +info('WHAT IS THE GOLD STANDARD?', [
            'When you see an Olympic Gold medalist standing on the podium what comes to mind? Undoubtedly these people are naturally gifted but that talent has to be cultivated with countless hours of hard work. Even the most gifted need be guided and all talent must be nurtured with proper training. A Gold medal is worth much more than its monetary value because of what it represents. Sacrifice, commitment and discipline is the price to be payed for a life of meaning.',
            'We can’t all be Gold Medal winners but we can all hold ourselves to a ‘Gold Standard’. Regardless of your age, current level of fitness or perceived obstacle to health, I make you this promise. If you are truly serious about looking your absolute best, feeling as healthy as possible and optimising your physical performance I will match your dedication and provide you with the knowledge and support  every step of the way to ensure your goals are achieved.'
        ],'black','right')
    
