section.s-standart#standart
    include ../blocks/b-standart-desc
    include ../blocks/b-standart-photo
        
    

    //- .s-standart__note Claim a free taster session today to experience the Gold Standard in Personal Training.
    //- include ../blocks/b-icons.pug
    //- +slider()