section.s-work-with
    .s-work-with__wrap-info.wrap-info_active 
        +info('WHO I WORK WITH', [
            'I work with people from all walks of life. The occupations of my clients stretch across a wide variety of sectors and include corporate professionals, medical doctors, police officers, teachers, retail workers, engineers, hairdressers, factory workers and a number of full time university students including international studies from across Europe and the Middle East.',
            'Throughout the years I have provided training to off duty serving military personnel, body guards and professional fighters across a multitude of disciplines in the combat sports. I am committed to maintaining the highest levels of discretion and confidentiality that often accompanies these professions.',
            'I am fully certified in pre/post natal Personal Training. I take equally pride from helping a female client get back their post pregnancy physique as I am of providing the strength and conditioning training to top level boxer. The same satisfaction is derived from seeing a client achieve their first ever pull up as seeing another pass the Royal Marines fitness test for recruitment. Whether a client tells me they are desperate to change from morbidly obese to a healthy weight or whether they want go from enthusiastic gym goer to a professional fitness model, each and every goal is equally valid.',
            'You may be desperate to make a positive change for health reasons. Alternatively you may be dedicated to fulfilling your full physical potential and make the transition from good to great or even from great to greatest. Your current level of fitness is not factor of whether you and I can achieve a successful client trainer relationship. Your level of commitment to achieving your goal is however of paramount importance.',
            'As long as a Medical professional has not deemed it unsafe for you to undergo a course of exercise there is only one prerequisite to us working together. Whether your goal is to win a Gold medal or simply be fit and healthy enough to enjoy your golden years. The only non negotiable is that your goal is one you take seriously. There’s always room for a laugh and joke but you absolutely must be willing to give your best effort every single session.',
            'I do not want a massive financial commitment from you. I do require that you give me everything you have physical and mentally.',
            'There is an abundance of Personal Trainers who will take your money and allow you to cheat yourself. I believe you deserve better but you must hold yourself not just to a higher standard but the highest standard. In order for us to achieve something amazing together you must hold yourself to the Gold Standard.'
        ],'black','center')
    button.s-work-with__btn.btn-default
        .s-work-with__btn-arrow.arrow-less
        .s-work-with__btn-text READ MORE
        .s-work-with__btn-arrow.arrow-less
        
    img.s-work-with__bg(src='./images/backgrounds/text.svg')