section.b-icons-check
    ul.b-icons-check__list
        li.b-icons-check__item
            img.b-icons-check__img(src='./images/icons/check.svg')
            .b-icons-check__desc
                p.b-icons-check__text REGISTER OF EXCERCISE PROFESSIONAL MEMBER
        li.b-icons-check__item
            img.b-icons-check__img(src='./images/icons/check.svg')
            .b-icons-check__desc
                p.b-icons-check__text ADVANCED PERSONAL TRAINER
        li.b-icons-check__item
            img.b-icons-check__img(src='./images/icons/check.svg')
            .b-icons-check__desc
                p.b-icons-check__text STRENGTH COACH
        li.b-icons-check__item
            img.b-icons-check__img(src='./images/icons/check.svg')
            .b-icons-check__desc
                p.b-icons-check__text BODY TRANSFORMATION EXPERT
        li.b-icons-check__item
            img.b-icons-check__img(src='./images/icons/check.svg')
            .b-icons-check__desc
                p.b-icons-check__text THAI BOXING INSTRUCTOR OF 20 YEARS