section.b-icons
    ul.b-icons__list
        li.b-icons__item
            img.b-icons__img(src='./images/icons/relax.svg')
            p.b-icons__text COMFORTABLE SURROUNDINGS
        li.b-icons__item
            img.b-icons__img(src='./images/icons/location.svg')
            p.b-icons__text LEEDS </br> BASED
        li.b-icons__item
            img.b-icons__img(src='./images/icons/arm.svg')
            p.b-icons__text TAILORED RESULTS
        li.b-icons__item
            img.b-icons__img(src='./images/icons/schedule.svg')
            p.b-icons__text TRAIN AROUND YOUR SCHEDULE
        li.b-icons__item
            img.b-icons__img(src='./images/icons/piund_sign.svg')
            p.b-icons__text AFFORDABLE
        
