nav.b-navigation
    .b-navigation__container.wrapper
        .b-navigation__left
            img.b-navigation__logo(src='./images/logos/logo.png')
        .b-navigation__right
            button.btn-default(type="button") Book now
            button.b-navigation__menu(type='button')
                span
