nav.nav 
    ul.nav__list
        li.nav__item    
            a(href="#standart").nav__link GOLD STANDARD 
        li.nav__item    
            a(href="#cost").nav__link PRICING 
        li.nav__item    
            a(href="#feedback").nav__link TESTIMONIALS
        li.nav__item    
            button(data-section="#contact").nav__btn.btn-default CONTACT