.b-pricing-loyalty
    .b-pricing-loyalty__title FAIR PRICING AND LOYALTY
    .b-pricing-loyalty__container
        .b-pricing-loyalty__item
            +info('', [
                "To many buisness are focused on getting new customers at the expense of taking care of the ones they already have. The fitness industry is no exceptions. The big commercial gyms are plagued by sales targets. Ever had the experience of being sold a gym membership only to be disappointed by how rapidly the quality of your experience drops soon after being tied into a contract? Ever had the insult of having your membership fees increased without seeing that money being invested in New equipment? What makes matters worse is that new customers are enticed away from the competition with with 'Special deals' and introductory offers while the loyalty of long term members pay more money for less perks, This is what happens when desperate sales teams put profits before people. How can someone who has been a member of a gym for 5 years be asked to pay more than someone who has been a member for 5 minuets.",
                "For a short while I was a Personal trainer for a fairly upmarket big name commercial gym. It was an eye opening experience. The introduction of cheap and cheerful 24 hour budget gyms had a devastating effect on the sales revenue and it was the members who remained loyal that suffered."
            ],'white')
        .b-pricing-loyalty__item
            +info('', [
                'Plans for new equipment were cancelled as was the refurshipmet of the changing rooms. The penny pinching became so desperate that they stopped ordering the newspapers for members to read in the reception area. Coffee that had always been complimetary was turned into a revenue stream at a price of £1 time. A simple pleasure of reading the newspaper and enjoying a free coffee may not seem important but in the same week membership prices for existing members increased while new customers were handed vouchers giving the access to the gym for "10 days for £10".We all need to make a profit but it should be done by increasing quality, providing value and demonstrating that you are committed to constantly improving your offering.',
                'I make the following promise to you; If you become my cient I will never take you for granted. You will be rewarded for your loyalty with such things as free training sessions for family members, access to free fitness classes, bootcamps and seminars. As time passes and our working relationship grows I will ensure the value of your experience increases to match your Loyalty. You will be valued. You will be rewarded. You will be taken care of.'
            ],'white')
    