.standart-photo
    img.standart-photo__cross_right(src='./images/backgrounds/cross-right.png')
    img.standart-photo__man(src='./images/photos/rhone.jpg')
    img.standart-photo__trainer(src='./images/photos/unsplash.jpg')