.standart-desc
    .standart-desc__container
        +info('WHAT IS THE GOLD STANDARD?', [
            'Let’s start with what it’s not; My claim on being the Gold Standard in Personal Training is not a Pretentious boast driven by ego. It’s not a mere catchy tag line contoured up by my clever marketing team. Most importantly it is not an effort to pitch my services as a ‘luxury product’ exclusively available to the wealthy.',
            'The Gold Standard is a promise. The Gold Standard is a commitment. The Gold Standard is my philosophy on how Personal Training should be. The Gold Standard extends beyond theoretical knowledge and practical application and is rooted in integrity. The Gold Standard is not measured in the number of clients a Personal Trainer acquires but by the degree to which each client has achieved meaningful improvement.The Gold Standard is not achieved my the number of sessions delivered but by level of thought and care put into making each and every session fresh, enjoyable, effective and specific to the individuals specific goals. It is a Standard I set for myself and I encourage my clients to relentlessly strive for. The Gold Standard is symbolic of a desire to add real value to the life of my clients. To enrich them with health, vitality and wellbeing. To help them achieve a sense of achievement  and personal pride though physical development.'
        ],'white','left')
        img.standart-desc__cross_left(src='./images/backgrounds/cross-right.png')
    .standart-desc__coach-wrap
        .standart-desc__coach STEVEN THOMPSON PERSONAL TRAINING