$black1D: #1D1D1D;
$black16: #161616;
$yellowF1: #F1B82D;
$whiteFF: #FFFFFF;
$grey3A: #3A3939;
$greyC4: #C4C4C4;
$whiteFD: #FDFDFD;
// weight
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;
//breakpoints
$large-desktops: 1200px;
$desktops: 992px;
$tablets: 768px;
$phones: 576px;
$small-phones: 480px;
$old-phones: 320px;